a {
    text-decoration: none;
    color: black;
}

.landing-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.daetsisi-logo {
    width: 100%;
    max-width: 350px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.arrows-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 10px;
    
}

.arrow-right {
    margin-left: auto;
    margin-right: 10px;
    font-size: 40px;
}

.arrow-left {
    margin-left: 10px;
    margin-right: auto;
    font-size: 40px;
}

#title-landing {
    font-size: 90px;
    font-weight: bolder;
    margin-bottom: 20px;
}

#description {
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}